@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Tenali+Ramakrishna&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Mountains+of+Christmas:wght@700&family=Tenali+Ramakrishna&display=swap');


body{ 
    background-color: #F0228A;
    max-width: 1200px;
    margin: auto;
}


header {
    position: fixed;
    top: 25px;
    left: 25px;

}

header:hover {
    background-color: black;
}







h1 {
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
       
}
    
h2 {
    font-family: 'Averia Sans Libre', cursive;
}
    
h3 {
        font-family: 'Averia Sans Libre', cursive;}
    
p {
        font-family: 'Averia Sans Libre', cursive;}
    


nav {
    background-color: #BEF764;
    width: 300px;
    position: fixed;
    top: 200px;
    left: 25px;
    
}


main {
    background-color: lightcyan;
    width: 650px;
    margin-left: 600px;
}


section {
    background-color: thistle;
    border: 10px black solid;
    margin: 25px;
    text-align: center;
    border-radius: 7px;

}

section img {
    border: 10px black solid;
    padding: 10px;
    border-radius: 12px;
    
}

section img:hover {
    background-color: #BEF764;
}


footer {
    background-color: lightcyan;
    width: 300px;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

#splash {
    text-align: center;
    margin-top: 200px;
    border: 5px darkblue;
   

}

img:hover {
    opacity: 0.4;
}

a {
    color: orange;
    text-decoration:none; 
}

a:visited {
    color: cornflowerblue; 
    
}
    
a :hover {
    color: burlywood;;
}

a :active {
    color: azure;
}
