@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Tenali+Ramakrishna&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Mountains+of+Christmas:wght@700&family=Tenali+Ramakrishna&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');



body{ 
    background-image: url("../img/lava.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    max-width: 1200px;
    margin: auto;
    
}


header {
    position: fixed;
    top: 25px;
    left: 25px;

}

header :hover {
    width: 300px;

}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
       
}

    
h2 {
    font-family: 'Mountains of Christmas', cursive;
    color: dark magenta;
    
}
    
h3 {
        font-family: 'Mate SC', serif;
        color: whitesmoke;
    
    }
    
p {
        font-family: 'Averia Sans Libre', cursive;}
    


nav {
    position: sticky;
    background-color: pink;
    width: 300px;
    position: fixed;
    top: 300px;
    left: 25px;
    text-align: center;
    border-radius: 70px;
    
    
}

nav:hover{
    background-color: #FEE608;
}


main {
    background-color: #FE166A;
    width: 650px;
    margin-left: 600px;
    border-radius: 12px;
    cursor: url(../img/star.png);
}




section {
    background-color:#A70296;
    border: 10px purple;
    margin: 25px;
    text-align: center;
    border-radius: 80px;
    position: relative;



}

section img {
    border: 15px  plum solid;
    padding: 20px;
    border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
    
  
}

section img:hover {
    background-color: #FEE608;

}


section video {
    border: 10px  plum solid;
    padding: 20px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
}


section video:hover {
    background-color: #FEE608;
;
}


footer {
    background-color: plum;
    width: 300px;
    position: fixed;
    bottom: 15px;
    left: 25px;
    border-radius: 30px;
    
}

#splash {
    text-align: center;
    margin-top: 200px;
    border: 5px darkblue;
   

}

#splash img:hover {
    opacity: 0.4;
    width: 500px;
}

a {
    color: orange;
    text-decoration:none; 
}

a:visited {
    color: darkmagenta; 
    
}
    
a :hover {
    color: burlywood;;
}

a :active {
    color: azure;
}
